<div class="navBar">
    <div class="menu">
        <div class="navBar__item1">
            <img class="logo" src="../../assets/shooting_tiny.png" alt="logo" (click)="onClick()"/>
        </div>
        





        <div class="navBar__item2">
            <i class="bi bi-envelope navBar2__icon"></i>
            <i class="bi bi-gear-fill navBar2__icon"></i>
            <i class="bi bi-exclamation-circle navBar2__icon"></i>
        </div>




        <div class="navBar__item3">
            <user></user>
        </div>


        <div class="navBar__item4"><privileges></privileges></div>
        
    </div>
</div>
