<div class="lrBorder">

    <h3 id="title">Advanced Person Search</h3>

    <div class="grid_container">
        <div class="input">
            <form [formGroup]="formSearchPerson" (ngSubmit)="search()">
                <div class="search_grid">
                    <div id="radio">
                        
                        <input id="searchCust" type="radio" formControlName="person_type" name="person_type" checked="checked" value="Customer" class="pointer">
                        <label for="searchCust" class="inputFont pointer">Search Customer</label>
                        
                        <br>
                        <input id="searchVendors" type="radio" formControlName="person_type" name="person_type" value="Vendor" class="pointer">
                        <label for="searchVendors" class="inputFont pointer">Search Vendor</label>
                        

                    </div>
                    <div id="details">
                        <label for="firstName" class="input_font">First Name: </label>
                        <input id="firstName" type="text" class="input_box" formControlName="f_name"/> 
                        <label for="middleInit" class="input_font"> M: </label>
                        <input id="middleInit" type="text" maxlength='1' id="middleInit" class="input_box" formControlName="m_init"/>
                        <label for="lastName" class="input_font"> Last Name: </label>
                        <input id="lastName" type="text" class="input_box" formControlName="l_name"/>
                        <br>
                        <div formGroupName="phone">
                            <label for="phone_first" class="input_font">Phone Number: </label>
                            <input 
                                #phone_first 
                                id="phone_first" 
                                type="tel" 
                                maxlength='3' 
                                pattern="[0-9]{3}" 
                                (keyup)="moveOn($event, phone_first, phone_second)"
                                class="input_box"
                                formControlName="phone_num1"/>
                            <label for="phone_second" class="input_font"></label>
                            <p class="phone_dash input_font">-</p>
                            <input 
                                #phone_second 
                                id="phone_second" 
                                type="tel" 
                                maxlength='3' 
                                pattern="[0-9]{3}" 
                                (keyup)="moveOn($event, phone_second, phone_third)"
                                class="input_box"
                                formControlName="phone_num2"/>
                                
                            <label for="phone_third" class="input_font"></label>
                            <p class="phone_dash input_font">-</p>
                            <input 
                                #phone_third 
                                id="phone_third" 
                                type="tel" 
                                maxlength='4' 
                                pattern="[0-9]{4}" 
                                class="input_box"
                                formControlName="phone_num3"/>
                            </div>
                        
                        
                        <label for="email" class="input_font">Email: </label>
                        <input id="email" class="input_box" type="email" formControlName="email_addr"/>

                        <label for="organization" class="input_font">Organization: </label>
                        <input id="organization" class="input_box" type="text" formControlName="org"/>

                        <button type="submit" value="Search">Search</button>
                        <button type="reset" value="Reset">Reset</button>
                        <mat-spinner mode="indeterminate" *ngIf="loading$ | async"></mat-spinner>



                        

                    </div>
                </div>
                
            </form>    
        </div>         
               
        <div class="output"></div>
    </div>

     
</div>




