<div class="lrBorder">
    <h3 id="title">Create Organization</h3>
    <p id="byline">* indicates required field.</p>

    <form [formGroup]="formNewOrg" (ngSubmit)="createOrg()">
        <div class="grid_container">
        
            <div class="colA">
                <div formGroupName="org">
                    <label for="orgName" class="input_font">Organization Name: </label>
                    <input id="orgName" type="text" class="input_box" formControlName="org_name" >
                </div>
                
                <div formGroupName="phone">
                    <label for="phoneA" class="input_font">Phone Number: </label>
                
                    <input 
                        #phoneA
                        id="phoneA" 
                        type="tel" 
                        class="input_box space-above" 
                        maxlength='3' 
                        pattern="[0-9]{3}" 
                        (keyup)="moveOn($event, phoneA, phoneB)"
                        formControlName="phone_num1"
                        />
                    <p class="dashes">-</p>
                    <label for="phoneB" class="input_font space-above"></label>
                    <input 
                        #phoneB
                        id="phoneB" 
                        type="tel" 
                        class="input_box space-above" 
                        maxlength='3' 
                        pattern="[0-9]{3}" 
                        (keyup)="moveOn($event, phoneB, phoneC)"
                        formControlName="phone_num2"
                        />
                    <p class="dashes">-</p>
                    <label for="phoneC" class="input_font space-above"></label>
                    <input 
                        #phoneC
                        id="phoneC" 
                        type="tel" 
                        class="input_box space-above" 
                        maxlength='4' 
                        pattern="[0-9]{4}"
                        formControlName="phone_num3"
                        >
                </div>
                

                <div formGroupName="org">
                    <label for="orgWebsite" class="input_font space-above">Website: </label>
                    <input id="orgWebsite" type="text" class="input_box space-above" formControlName="url">
                </div>

                <div formGroupName="email">
                    <label for="orgEmail" class="input_font space-above">Email: </label>
                    <input id="orgEmail" type="text" class="input_box space-above" formControlName="email_addr">
                </div>

                <div formGroupName="address">
                    <label for="address1" class="input_font big_marg address">Address: </label>
                    <br>
                    <input id="address1" type="text" class="input_box address" placeholder="Line 1" formControlName="address1">
                    <br>
                    <label for="address2" class="input_font  address"></label>
                    <input id="address2" type="text" class="input_box  address" placeholder="Line 2" formControlName="address2">
                    <br>
                    <label for="city" class="input_font  address"></label>
                    <input id="city" type="text" class="input_box  address" placeholder="City" formControlName="city">
                    <br>
                    <select name="state" id="state" class="input_box input_font  address" formControlName="state">
                        <option [ngValue]="" selected disabled id="state_placeholder">
                            State
                        </option>
                        <option *ngFor="let state of statesList" [ngValue]="state.abbreviation" >
                            {{ state.name }}
                        </option>
                    </select>
                    <br>
                    <label for="zip" class="input_font  address"></label>
                    <input id="zip" type="text" class="input_box  address" placeholder="ZipCode" maxlength="5" formControlName="zipcode"/>
                </div>

                
    
                
            
    
    
    
            </div>
            <div class="colB">
    
                <h3>Select Organization Type: </h3>
                
                <div formGroupName="org">
                    <div *ngFor="let type of orgTypes" class="radio">
                        <label>
                            <input type="radio" formControlName="organization_type" [value]="type.organization_type" (change)="resetFlag()"/>
                            {{ type.short_desc }}
                        </label>
                    </div>
                </div>
                
                <div *ngIf="type==false" class="warning">
                    <p>Must select an Organization Type!</p>
                </div>
                <div *ngIf="name==false" class="warning">
                    <p>Must enter an organization Name!</p>
                </div>
                <button type="reset" (click)="resetFlag()">Clear</button>
                <button type="submit" [disabled]="formNewOrg.controls['org'].invalid || (loading$ | async)">Save</button>
                <mat-spinner mode="indeterminate" *ngIf="loading$ | async"></mat-spinner>
    
    
            </div>
    
        </div>
    </form>
    

</div>
