#title {
    color: var(--dark-font);
}
#byline {
    color: var(--dark-font);
    font-style:italic;
}

.grid_container { 
    display: grid;
    width: 100%;
    height: 650px;
    grid-template-areas:
        ". a . b ." 
        ". a . b .";
    gap: 10px;
    grid-template-rows: 100px 1fr 100px 1fr 50px;
    
    
    
}

.colA {
    grid-area: a;
    border-right: 4px solid lightgray;
}

.colB {
    grid-area: b;
    
    padding-left: 20px;
}

#phoneA {
    width: 35px;
    margin-left: 4px;
}

#phoneB {
    width: 35px;
}

#phoneC {
    width: 45px;
}

.dashes {
    color: var(--dark-font);
    display: inline;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 16pt;
    font-weight: bold;
}

.radio {
    accent-color: var(--featured-color);
    margin-bottom:20px;
}

h3 {
    color: var(--dark-font);
}

.warning {
    text-align: center;
    color: red;
    background-color: rgb(250,250,220);
    margin-top: -5px;
    width: 98%;
    margin-left:2px;
    margin-right:2px;
    padding:3px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 300;

    
}

button {
    margin-top: 10px;
    margin-right: 5px;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    border-color: lightgray;
    color: lightgray;
    pointer-events: none;
}

.address {
    margin-bottom: 5px;
}

.space-above {
    margin-top: 5px;
}

