<div class="container_box">
    <div class="phone inline_block">
        <div class="underline space_between box_width">
            <h3 class="inline_block">Phone Numbers:</h3>
            <i class="bi bi-pencil-square inline_block"></i>
        </div>
        
        <ul>
            <li *ngFor="let p of phoneList">{{ p.short_desc }}: ({{ p.phone_num1 }}) {{ p.phone_num2 }}-{{ p.phone_num3 }} {{ p.phone_ext}}  <span *ngIf="p.out_of_service" class="bi bi-check" style="color: red"></span></li>
        </ul>
    </div>
    <div class="email inline_block">
        <div class="underline space_between box_width">
            <h3 class="inline_block">Email Address:</h3>
            <i class="bi bi-pencil-square inline_block"></i>
        
        </div>
        <ul>
            <li *ngFor="let e of emailList">{{ e.email_addr}} <span *ngIf="e.failed" class="bi bi-check" style="color: red"></span></li>
        </ul>
        
    </div>
    <div class="address inline_block">
        <div class="underline space_between box_width">
            <h3>Address: </h3>
            <i class="bi bi-pencil-square inline_block"></i>
        </div>
        
        <ul>
            <li *ngFor="let a of addressList"></li>
        </ul>
    </div>
</div>


