<footer class="footerContent">
    <ul class="nav__list">
        <li class="nav__item"><a href="https://www.gatogordocreations.com" target="_blank">Gato Gordo Creations</a></li>
        <li class="nav__item"><a href="https://www.smugmug.com" target="_blank">Smug Mug</a></li>
        <li class="nav__item"><a href="https://squareup.com/us/en" target="_blank">Square Up</a></li>
        <li class="nav__item"><a href="https://comptroller.texas.gov/" target="_blank">TX Comptroller</a></li>
        <li class="nav__item"><a href="https://www.theknot.com" target="_blank">The Knot</a></li>
        <li class="nav__item"><a href="https://www.accuweather.com/" target="_blank">AccuWeather</a></li>
        <li class="nav__item"><a href="" target="_blank">Management</a></li>
        <li class="nav__item"><a href="" target="_blank">Scheduling</a></li>


    </ul>
</footer>
